/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
:root {
  --color-blue: #283055;
  --color-white: #FFFFFF;
  --color-lightGrey: #A1A1A1;
  --color-smokeWhite:#F5F6FA;
}
