<div class="container-fluid  vh-100 min-vh-100" style="background-color: #F5F6FA;">
  <div class="row">
    <div class="container-fluid navBar mt-1">
      <div class="row p-2">
        <div class="col-5">
          <h6 class="h6 m-0" style="font-weight: 800;font-size: 1.3vw;">ADMIN - TRACKING</h6>
          <p style="font-size: 0.9vw; color: #7F8FA4;" class="m-0">Tracking</p>
        </div>
        <div class="col-4"></div>
        <div class="col-2 d-flex align-items-start justify-content-end py-0">
          <i class="bi bi-bell-fill" style="font-size: 1.3vw;"></i>
        </div>
        <div class="col-1 p-0">
          <div id="circle">JS</div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-center mt-1">
        <div class="col-9 me-2 px-1 py-2" style="background-color: #FFFFFF;">
          <select id="selectLocation" [(ngModel)]="selectedLocation" title="selectLocation"
            (change)="onSelectLocation()">
            <option *ngFor="let location of Locations" [value]="location.layoutName">
              {{location.layoutName}}
            </option>
          </select>
        </div>
        <div class="col-2 px-1 py-2" style="background-color: #FFFFFF;">
          <select id="selectUser" [(ngModel)]="selectedUser" title="selectUser" (change)="onSelectUser()">
            <option *ngFor="let user of Users" [value]="user.userID">
              {{user.userName}}
            </option>
          </select>
        </div>
      </div>

      <div class="row justify-content-center mt-2">
        <div class="col-9 me-2 canvasCard">
          <img [src]="imageUrl" alt="Map">
        </div>
        <div class="col-2 usersCard">
          <div class="container py-3 px-3">
            <div class="row">
              <div class="col-3 p-0">
                <img [src]="userProfileUrl" class="profileImage" alt="Profile">
              </div>
              <div class="col-9 py-0 d-flex text-start align-items-center">
                <div class="d-flex flex-column">
                  <h6 class="h6 m-0 profileName">{{UserName}}</h6>
                  <p class="m-0 designation">{{Designation}}</p>
                </div>
              </div>
            </div>
            <!-- date picker -->
            <div class="row datePickerCard mt-2 py-1">
              <div class="col-6 py-0 px-1">
                <p class="m-0" >From</p>
                <input type="datetime-local" id="fromDate" name="datepicker" >
              </div>
              <div class="col-6 py-0 px-1">
                <p class="m-0">To</p>
                <input type="datetime-local" id="toDate" name="datepicker" >
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- style="border: 1px solid;" -->
