<div class="container-fluid  vh-100 min-vh-100" style="background-color: #F5F6FA;">
  <div class="row">
    <div class="container-fluid navBar mt-1">
      <div class="row p-2">
        <div class="col-5">
          <h6 class="h6 m-0" style="font-weight: 800;font-size: 1.3vw;">ADMIN - ADD USER</h6>
          <p style="font-size: 0.9vw; color: #7F8FA4;" class="m-0">Add User</p>
        </div>
        <div class="col-4"></div>
        <div class="col-2 d-flex align-items-start justify-content-end py-0">
          <i class="bi bi-bell-fill" style="font-size: 1.3vw;"></i>
        </div>
        <div class="col-1 p-0">
          <div id="circle">JS</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container px-5">
      <div class="row" style="background-color: #FFFFFF; border-radius: 8px;">
        <div class="container px-5">
          <div class="row userCardHeading">
            <div class="col-12 py-3 px-0 ">Add User</div>
          </div>
          <!-- Name -->
          <div class="row userCardLabel">
            <div class="col-4 py-2 px-0">Name</div>
            <div class="col-4 py-2 px-0">
              <input type="name" class="form-control" id="name" aria-describedby="name" placeholder="Enter Name">
            </div>
            <div class="col-4 py-2 px-0"></div>
          </div>
          <!-- employee id  -->
          <div class="row userCardLabel">
            <div class="col-4 py-2 px-0">Employee ID</div>
            <div class="col-4 py-2 px-0">
              <input type="name" class="form-control" id="name" aria-describedby="name" placeholder="Employee ID">
            </div>
            <div class="col-4 py-2 px-0"></div>
          </div>
          <!-- mac address -->
          <div class="row userCardLabel">
            <div class="col-4 py-2 px-0">Mac Address</div>
            <div class="col-4 py-2 px-0">
              <input type="name" class="form-control" id="name" aria-describedby="name" placeholder="Mac Address">
            </div>
            <div class="col-4 py-2 px-0"></div>
          </div>
          <!-- photo  -->
          <div class="row userCardLabel">
            <div class="col-4 py-2 px-0">Photo</div>
            <div class="col-4 py-2 px-0">
              <input type="file" class="form-control" id="image" aria-describedby="image" placeholder="profile image" accept="image/png, image/gif, image/jpeg">
            </div>
            <div class="col-4 py-2 px-0"></div>
          </div>
          <!-- button -->
          <div class="row justify-content-center">
            <div class="col-2 py-2">
              <button class="btn btn-sm saveBtn">Save</button>
            </div>
            <div class="col-2 py-2">
              <button class="btn btn-sm cancelBtn">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- style="border: 1px solid;" -->
